{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "{% static 'javascript/idcarddetails/navbar.js' %}"></script>
    <script type="text/javascript" src = "{% static 'javascript/idcarddetails/jquery.growl.js' %}"></script>
    <script type="text/javascript" src = "{% static 'javascript/idcarddetails/sidebar.js' %}"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/idcarddetails/navbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/idcarddetails/jquery.growl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/idcarddetails/sidebar.css' %}">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
    {% for message in messages %}
      <script type="text/javascript">
        $.growl.notice({message: "{{ message }}"});
      </script>
	{% endfor %}
    </div>
    {% endif %}

<div id="mySidenav" class="sidenav" style='display:none;'>
  <a href="{% url 'aadharDetails' %}">Aadhar</a>
  <a href="{% url 'drivingLicenseDetails' %}">Driving License</a>
  <a href="{% url 'voterDetails' %}">Voter Card</a>
  <a href="{% url 'rationCardDetails' %}">Ration Card</a>
  <a href="{% url 'passportDetails' %}">Passport</a>
</div>
  
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li><span style="font-size:30px;cursor:pointer" onclick="toggleSideBar()">&#9776; </span></li>
                        <li><a href="{% url 'idcarddetailsProfile' %}" class="">My Profile</a></li>
                        {% else %}
                        <li><a href="{% url 'loginandsignup' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                      {% if user.is_authenticated %}
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                                <li><a href="{% url 'idcarddetailsProfile' %}">My Profile</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
