{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/idcarddetails/profile.css' %}" />
</head>
{% if detailsExist is defined %}
<div class="container" style="padding-top:40px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="idcardNumbersFormLink">Add Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="idcardNumbers-form" method="POST" class="idardNumbers" action="{% url 'idcarddetailsProfile' %}" style="display: block;">
                            {% csrf_token %}
                            {% for error in idCardDetailsForm.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% for field in idCardDetailsForm %}
                            <div class="form-group has-errors text-danger small">
                                {{field.errors}}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group text-center">
                                {{field|add_class:"form-control"}}
                            </div>
                            {% endfor %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button type="submit" class="primaryAction btn btn-primary form-control btn-login" >{% trans "Save" %} &raquo;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% for field in cardsDetails %}
<div class="container-fluid" style="padding-top:35px">
    <div class="row text-center">
        <h2 class="headermessage">
        Hover to see your id card number</h2>
    </div>
    <div class="row">
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city1.jpg) no-repeat center top;background-size:cover;">
            <p> {{ field.aadharNumber }} </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city2.jpg) no-repeat center top;background-size:cover;">
            <p> {{ field.drivingLicenseNumber }} </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
            <p> {{ field.voterCardNumber }} </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
            <p> {{ field.rationCardNumber }} </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city5.jpg) no-repeat center top;background-size:cover;">
            <p> {{ field.passportNumber }} </p>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
</div>
</div>

{% endblock %}